# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
*.local

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env & secrets
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# Docker volumes / db data
pgdata/
